/* .global-nav {
} */

.global-nav .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.global-nav .navbar .navbar-brand img {
  width: 400px;
}
/* 
.global-nav .navbar .navbar-collapse {
}

.global-nav .navbar .navbar-collapse .navbar-nav {
}

.global-nav .navbar .navbar-collapse .navbar-nav .nav-item {
} */

.global-nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  color: blueviolet;
  margin-left: 30px;
  text-transform: capitalize;
  font-weight: 600;
}

/* .global-nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {} */

.global-nav .navbar .navbar-toggler {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.global-nav .navbar .toggle-btn {
  position: relative;
  top: 5px;
  cursor: pointer;
  z-index: 9999;
}
.global-nav .navbar .toggle-btn .bar {
  width: 25px;
  height: 3px;
  margin: 7px 0 7px auto;
  background-color: chartreuse;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.global-nav .navbar .toggle-btn .bar:nth-child(2) {
  width: 35px;
}
.global-nav .navbar #toggle-menu {
  display: none;
}
.global-nav .navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(2) {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
}
