/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #ec1d26;
    --secondary-color: #0c4da4;
    --light-color: #F4F6F8;
    --dark-color: #040F28;
    --white-color: #FFFFFF;
    --gray-color: #777;
    --black: #000000;
    --accent-color: #2954A3;
    --heading-font-family: "Roboto", sans-serif;
    --text-font-family: "Open Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button,
button:active,
button:focus,
a:active,
a:focus,
input,
input:active,
input:focus,
.btn,
.btn:active,
.btn:focus {
    border: 0px;
    outline: none;
    box-shadow: none;
    outline: none;
}

body {
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gray-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    font-weight: 400;
    margin-bottom: 0px;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--dark-color);
}

p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

/* Button Style */

.btn {
    display: inline-block;
    font-family: var(--text-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: var(--white-color);
    padding: 14px 24px;
    text-transform: capitalize;
    box-shadow: none;
    border: 0px;
    outline: none;
    transition: background 1s ease-out;
}

.btn.btn-primary {
    background: var(--primary-color);
    transition: background 1s ease-out;
}

.btn.btn-primary:hover {
    /* background: linear-gradient(107deg, #2954A3 24.43%, #C961DE 68.95%); */
    background-color: var(--white-color);
    color: var(--primary-color);
    border: none;
}

.btn.btn-secondary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn-secondary:hover {
    background-color: var(--dark-color);
}

/* ================================================== 
        Navbar CSS Style 
==================================================== */
.global-nav .navbar {
    overflow: hidden;
}

.global-nav .navbar .navbar-brand img {
    width: 300px;
}

.global-nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    color: var(--dark-color);
    margin-left: 30px;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.global-nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
.global-nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
    color: var(--primary-color);
}

.global-nav .navbar .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.global-nav .navbar .toggle-btn {
    position: relative;
    top: 5px;
    cursor: pointer;
    z-index: 9999;
}

.global-nav .navbar .toggle-btn .bar {
    width: 25px;
    height: 3px;
    margin: 7px 0 7px auto;
    background-color: var(--primary-color);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.global-nav .navbar .toggle-btn .bar:nth-child(2) {
    width: 35px;
}

.global-nav .navbar #toggle-menu {
    display: none;
}

.global-nav .navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(2) {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);

}

.global-nav .navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
    -webkit-transform: translateY(12px) rotate(45deg);
    -moz-transform: translateY(12px) rotate(45deg);
    -ms-transform: translateY(12px) rotate(45deg);
    -o-transform: translateY(12px) rotate(45deg);
}

.global-nav .navbar #toggle-menu:checked+label.toggle-btn .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -moz-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
}

.global-nav .navbar .modal.fade.show {
    display: none !important;
}

.modal-backdrop.fade.show {
    opacity: 0;
    visibility: hidden;
}

.modal-dialog {
    max-width: 85%;
    top: -18px;
}

.modal-dialog .modal-content {
    background-color: var(--dark-color);
}

.modal-dialog .modal-header {
    border: none;
}

.modal-dialog .modal-header img {
    max-height: 40px;
}

.modal-dialog .modal-body {
    background: var(--dark-color);
}

.modal-dialog .nav-link {
    display: block;
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 600;
}

.modal-dialog .nav-link.active {
    color: var(--primary-color);
}



/* ================================================== 
        Breadcrumb CSS Style 
==================================================== */
.global-breadcrumb {
    padding: 14px 0;
    margin: 0;
border-top: 1px solid var(--gray-color);
}

.global-breadcrumb .breadcrumb-item-wrap {
    margin: 0;
}

.global-breadcrumb .breadcrumb-item-wrap .breadcrumb-item a {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 600;
    line-height: 1;
    text-decoration: underline;
}

.global-breadcrumb .breadcrumb-item-wrap .breadcrumb-item.active {
    color: var(--dark-color);
}

/* ================================================== 
        Printhead CSS Style 
==================================================== */
.printhead-area {
    padding: 120px 0;
    position: relative;
    background-color: var(--light-color);
}

.printhead-area .section-title-wrapper {
    margin-bottom: 40px;
}

.printhead-area .section-title-wrapper .Section-title {
    font-size: 48px;
    line-height: 1.2;
    color: var(--dark-color);
    font-weight: 700;
    font-family: var(--heading-font-family);
    margin-bottom: 20px;
}


.printhead-area .printhead-card {
    background-color: var(--accent-color);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.printhead-area .printhead-card .card-img-wrap {
    overflow: hidden;
    border-radius: 16px;
}

.printhead-area .printhead-card .card-img-top {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;

}

.printhead-area .printhead-card .card-title {
    font-family: var(--text-font-family);
    font-size: 20px;
    color: var(--white-color);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;
}

.printhead-area .printhead-card:hover .card-img-top {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.printhead-area .printhead-card .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000073;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.printhead-area .printhead-card:hover .card-overlay {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}


/* ================================================== 
        Printhead Details CSS Style 
==================================================== */
.printhead-details {
    padding: 120px 0;
    position: relative;
}

.printhead-details-wrap .printhead-details-title {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--dark-color);
}

.printhead-details-wrap .printhead-details-title span {
    color: var(--primary-color);
}

.printhead-details-wrap .printhead-description {
    font-size: 14px;
    margin: 12px 0 20px;
    color: var(--gray-color);
}

.printhead-details-wrap .printhead-specs .printhead-spec {
    display: flex;
    align-items: center;
    gap: 20px;
}

.printhead-details-wrap .printhead-specs .printhead-spec .spec-title {
    font-size: 18px;
    font-weight: 600;
}

.printhead-details-wrap .printhead-specs .printhead-spec .spec-value {
    text-align: left;
    font-size: 16px;
}

.printhead-description-wrapper {
    margin-top: 40px;
}

.prices {
    font-family: var(--heading-font-family);
    font-size: 48px;
    font-weight: 700;
    color: var(--primary-color);
}

.printhead-description-title {
    font-size: 42px;
    line-height: 1.3;
    color: var(--primary-color);
    font-weight: 700;
}

.printhead-details-list {
    margin-top: 30px;
}

.printhead-details-list ol {
    margin-top: 20px;
}

.printhead-details-list-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.details-list {
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.list-description {
    margin-top: 16px;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-color);
}

.list-number {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
    color: var(--dark-color);
}

/* ================================================== 
        Contact CSS Style 
==================================================== */
.contact-area {
    padding: 80px 0;
    background-color: var(--light-color);
}

.contact-breadcrumb {
    background-color: var(--white-color);
}

.contact-area .contact-title {
    font-size: 42px;
    color: var(--dark-color);
    font-weight: 700;
}

.contact-area .contact-title span {
    color: var(--primary-color);
}


.contact-area form .form-control {
    border: 1px solid var(--primary-color);
    outline: none;
    box-shadow: none;
    color: var(--dark-color);
}

.contact-area form .form-control:focus {
    border: 1px solid var(--dark-color);
    outline: none;
    box-shadow: none;
}

/* ================================================== 
        Footer CSS Style 
==================================================== */
.footer {
    padding: 100px 0 40px;
    background: var(--dark-color);
    position: relative;
}

.footer .footer-brand-wrap p {
    margin-top: 32px;
    font-size: 16px;
    color: #F4F6F8;
}

.footer .footer-widget-wrapper .footer-title {
    font-family: var(--heading-font-family);
    font-size: 18px;
    color: var(--white-color);
    line-height: 1.3;
    margin-bottom: 20px;
    font-weight: 700;
}

.footer .footer-widget-wrapper .footer-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
}

.footer .footer-widget-wrapper .footer-menu .footer-link {
    display: inline-block;
    margin: 0;
    color: var(--light-color);
    font-size: 16px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.footer .footer-widget-wrapper .footer-menu .footer-link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.footer-contact-details .single-address {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 10px;
}

.footer-contact-details .single-address .footer-address {
    font-size: 14px;
    color: var(--light-color);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.footer-contact-details .single-address .footer-address:hover {
    color: var(--primary-color);
}

.contact-icon,
.location-icon,
.email-icon {
    color: var(--primary-color)
}

.footer-copyright {
    color: var(--gray-color);
    font-size: 12px;
    margin-top: 60px;
    padding: 20px 0 0;
    border-top: 1px solid var(--primary-color);
}

/* ==========================================
        Responsive
============================================= */

@media (max-width: 991px) {
    .printhead-area {
        padding: 100px 0px !important;
    }

    .printhead-details {
        padding: 100px 0;
    }

    body.modal-open .global-nav .navbar .modal.fade.show {
        display: block !important;
        opacity: 1;
    }

    .global-nav .navbar .modal-dialog {
        max-width: 950px;
        top: -18px;
    }

    .printhead-details-wrap {
        margin-top: 40px;
    }

    .footer-widget-wrapper {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .printhead-area {
        padding: 80px 0px !important;
    }

    .printhead-details {
        padding: 80px 0;
    }

    .global-nav .navbar .modal-dialog {
        max-width: 750px;
        top: -18px;
    }

    .printhead-details-list-wrap {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 20px;
    }

}

@media (max-width: 575px) {
    .printhead-area {
        padding: 60px 0px !important;
    }

    .printhead-details {
        padding: 60px 0;
    }

    .global-nav .navbar .navbar-brand img {
        width: 250px;
    }

    .modal-dialog .modal-header img {
        width: 250px;
    }

    body.modal-open .global-nav .navbar .modal.fade.show {
        padding-top: 18px;
    }

    .global-nav .navbar .modal-dialog {
        max-width: 550px;
        top: -18px;
    }



    .footer .footer-brand-wrap p {
        margin-top: 16px;
        text-align: center;
    }

    .footer-widget-wrapper {
        margin-top: 30px;
        text-align: center;
    }

    .footer-contact-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .footer-contact-details .single-address {
        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        text-align: center;
        gap: 5px;
    }

}
